<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>198008997836-mtu6gp5pv420aduc00co14qmnp0g14ei.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.198008997836-mtu6gp5pv420aduc00co14qmnp0g14ei</string>
	<key>API_KEY</key>
	<string>AIzaSyAv8fJn_X4d8AUgi33CLI82VlyojlpuUAE</string>
	<key>GCM_SENDER_ID</key>
	<string>198008997836</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.medmen.Medmen</string>
	<key>PROJECT_ID</key>
	<string>mymedmen</string>
	<key>STORAGE_BUCKET</key>
	<string>mymedmen.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:198008997836:ios:5bcd154af85fee6e72bf69</string>
	<key>DATABASE_URL</key>
	<string>https://mymedmen.firebaseio.com</string>
</dict>
</plist>